
#portfolio{
    padding-top: 80px;
    --Red: #DF054F;
}

.portfolio{
    padding-top: 20px;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-gap: 20px 10px;
    margin: 0 3%;
}

.project-grid{
    --ProjectSize: 300px;
    /* display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(var(--ProjectSize), 1fr));
    border: 1px solid white; */
    /* For filter */
    overflow: hidden;
}

.project-title{
    padding-top: 30px;
}

.project{
    float: left;
    display: none;
    margin: 2px;
    height: var(--ProjectSize);
    width: var(--ProjectSize);
    border: 5px solid #6057E5;
    background-color: #181521;
}

.project.show {
    display: block;
}

.project-info{
    width: 100%;
    background-color: #fff;
    height: 75%;
    display: none;
}

/* Filter Items */
.filter-item{
    color:#C5C1B9;
    /* display: block; */
    text-transform: uppercase;
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
    /* Unselectable */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding-left: 15px;
}
.filter-item:hover{
    color:#80FFCF;
}
.filter-item.active{
    color:#F6DF4C;
}